<!DOCTYPE html>
<html>
<head>
	<title>NOT TITLE</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

	<h1>IMG TO PDF</h1>
	<form action="" method="post" enctype="multipart/form-data">
		
		<label for="myfile">Select a file:</label>
		<input class="drop-box" type="file" id="myfile" name="myfile"><br>
		
		<input type="submit" value="convert">
	</form>

	{% if downloadable %}
		<a href="{{url_for('download_converted_pdf')}}" download>
		  <!-- <img src="do.jpg" alt="converted file" width="104" height="142"> -->
			converted file
		</a>
	{% endif %}

</body>
</html>